<!-- <header id="container"  class="navbar navbar-expand-md navbar-light bg-light fixed-top" > -->
    <header id="container"  class="navbar navbar-expand-md navbar-light bg-light">
    <div class= "navbar-header fixed-top">
        <div class="bannerheader" role="banner" >
                <a class="navbar-brand" data-cy="navbarLogoLink" href="/" title="Inicio" >
                    <img src="assets/LOGOLICRO.png"
                    alt="Licro Logo"
                     width="100" height="auto">
                    
                </a>
                <!-- BTN colapse -->
                <button class="navbar-toggler btn-colapse"
                type="button"
                data-toggle="collapse"
                data-target=".navbar-collapse"
                aria-label="Toggle navigation"
                [attr.aria-expanded]="isExpanded"
                (click)="toggle()"     
                >
                    <span class="navbar-toggler-icon" style="margin: 0;"></span>
               
                </button>  
               
                <!-- <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
                  [ngClass]="{ show: isExpanded }"> -->
                 <ul [hidden]="setMobile()">
                <li class="nav-items"
                [routerLinkActive]="['link-active']"
                [routerLinkActiveOptions]="{ exact: true }">
                    
                  <a class="nav-link" aria-label="Pagina do Gerador" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Gerador">
                  <span>Gerador</span>
                  </a>
                </li>
            
                <li class="nav-items" [routerLinkActive]="['link-active']">
                  <a class="nav-link" aria-label="Pagina do Gerador" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Gerador">
                    <span>Anúncio Comprador</span>
                    </a>
                </li>
                <li class="nav-items" [routerLinkActive]="['link-active']">
                  <a class="nav-link" aria-label="Pagina do Gerador" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Gerador">
                    <span>Como Funciona</span>
                    </a>
                </li>
                <li class="nav-items" [routerLinkActive]="['link-active']">
                <a class="nav-link" aria-label="Pagina do Gerador" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Gerador">
                  <span>Premium</span>
                  </a>
                </li>
                
            </ul>


<!--            
        </div> -->

     <div [hidden]="setMobile()">
         <span class="nav-linkBtn"><a href="/" class="btn transitions animated fadeIn" data-ga-category="Home" data-cy="postProjectCTA" title="Faça um lance">
         
             Anuncie Grátis
             </a></span>
         <a  routerLink = "cadastro" id= "text" class="nav-link1" aria-label="Pagina do Gerador" target="_blank" rel="noopener" title="Gerador" >
             <span>Cadastre-se</span>
             </a> 
         <a  id= "text" class = "nav-link1" aria-label="Entrar" target="_blank" rel="noopener"  title="Anuncie Grátis"  href="https://twitter.com/angular" >
         <span>Entrar</span>
         </a>   
     </div>
          
    </div>
</div>
    
       
    <!-- <div id = "carrosel">
         <owl-carousel-o [options]="customOptions">
            
            <ng-template carouselSlide>
                <div class="icones">
                    <a href="/">
                    <img src="assets/Icones/borracha.svg" alt="borracha" style="opacity: 1;">
                    <span>Borracha</span>
                    </a>
                </div>
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="icones">
                        <a href="/">
                        <img src="assets/Icones/madeira.svg" alt="madeira" style="opacity: 1;">
                        <span>Madeira</span>
                        </a>
                    </div>
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="icones">
                        <a href="/">
                        <img src="assets/Icones/metais.svg" alt="metais" style="opacity: 1;">
                        <span>Metais</span>
                        </a>
                    </div>
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="icones">
                        <a href="/">
                        <img src="assets/Icones/organico.svg" alt="organico" style="opacity: 1;">
                        <span>Orgânico</span>
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="icones">
                        <a href="/">
                        <img src="assets/Icones/papel.svg" alt="papel" style="opacity: 1;">
                        <span>Papel</span>
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="icones">
                        <a href="/">
                        <img src="assets/Icones/plastico.svg" alt="plastico" style="opacity: 1;">
                        <span>Plástico</span>
                        </a>
                    </div>
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="icones">
                        <a href="/">
                        <img src="assets/Icones/quimicos.svg" alt="quimico" style="opacity: 1;">
                        <span>Químicos</span>
                        </a>
                    </div>
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="icones">
                        <a href="/">
                        <img src="assets/Icones/rcc.svg" alt="quimico" style="opacity: 1;">
                        <span>RCC</span>
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="icones">
                        <a href="/">
                        <img src="assets/Icones/reee.svg" alt="reee" style="opacity: 1;">
                        <span>REEE</span>
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="icones">
                        <a href="/">
                        <img src="assets/Icones/sucata.svg" alt="sucata" style="opacity: 1;">
                        <span>Sucata</span>
                        </a>
                    </div>
                </ng-template> 
                <ng-template carouselSlide>
                    <div class="icones">
                        <a href="/">
                        <img src="assets/Icones/tecido.svg" alt="Tecido" style="opacity: 1;">
                        <span>Tecido</span>
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="icones">
                    <a href="/">
                    <img src="assets/Icones/vidro.svg" alt="Vidro" style="opacity: 1;">
                    <span>vidro</span>
                    </a>
                    </div>
                </ng-template>         
          </owl-carousel-o>

          <div>

          </div>
    </div> -->

    <div>
        <router-outlet></router-outlet>

    </div>

        
</header>