p {
    margin: 0;
  }
a.navbar-brand {
    flex: 1;
}

.navbar-header{
  display: inline-table;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
}

#text{
  color: white;
}


  .btn{   
  background: #DBB334;
  border-radius: 20px;
  color: #B93727;
  
  
   
  }

 #container{
   display: block;
  }
  
  .bannerheader {
    position: relative;
    height: auto;   
    align-content: center;
    float: left;
    
  display: inline-table;
    background-color: #5C829D;
    width: 100%;
    margin: 0 auto;
  }

  #carrosel{
    
    position:relative;
    left: 0;
    right: 0;
    display:block;
    height: 147px;
    flex-direction: column;  
    background-color: #49708C;
  }

  .bannerheader img {
    margin-left: 129px;
    margin-right: 35px;
    
    
    
  }
  
  .btn-colapse{
    padding: 0 ;
    margin: 0;
    float: right;
    border: none;
  }

  .icones img{
    max-width: 29px;
    max-height: 35px;
    position: relative;
    bottom: 0;
    margin-top: 30px;

  }

  .icones span{
    color: #fff;
    font-size: 12px;
      
  }
  
  