<div class="content-wrap divcenter nobottompadding norightpadding noleftpadding">
    <div class="container clearfix divcenter nobottompadding norightpadding noleftpadding" id="body_inside_conteudo_on_div">
    <div class="col_full divcenter nobottommargin">
    <div class="heading-block">
    <h4><span>Cadastro do Anúncio</span></h4>
    <span></span>
    </div>
    <div class="col_full divcenter nobottommargin col_last">
    </div>
    <div class="col_half nobottommargin">
    <div class="font-primary">
    <h4>Anuncie Grátis</h4>
    <p>Você já informou quais são seus resíduos gerados (venda) e de interesse (compra)?<br>
    <strong>Você pode atualizar as informações e receber sugestões de como anúnciar.</strong><br>
    </p>
    </div>
    </div>
    <form role="form" id="anuncio_new" name="anuncio_new"  class="divcenter nobottommargin" >
    <input type="hidden" name="csrfmiddlewaretoken" value="rl6QfxnoiigF4zX0Tj9cJUJVfckP2xtvCXegP0vuORgSAlfqRa0vnU3khPKkFesq">
    <div class="col_full" id="start_anuncio">
    <div class="col_half nopadding nobottommargin" style="line-height: 28px !important;">
    <div class="col_full bottommargin-sm">
    <div class="col_last"><a class="pop-me-over" data-toggle="popover" data-placement="top" data-content="" data-title="Qual o tipo de anúncio?" data-original-title="" title=""><i class="i-circled i-light i-small icon-info" title=""></i></a></div><label>Qual o tipo de anúncio?</label>
    <div class="col_full bottommargin-sm">
    <div class="">
    <input type="radio" name="type_deal" value="1" class="radio-style" id="id_type_deal_0" required="">
    <label class="radio-style-1-label" for="id_type_deal_0">Venda</label>
    </div>
    <div class="">
    <input type="radio" name="type_deal" value="2" class="radio-style" id="id_type_deal_1" required="">
    <label class="radio-style-1-label" for="id_type_deal_1">Compra</label>
    </div>
    <div class="">
    <input type="radio" name="type_deal" value="3" class="radio-style" id="id_type_deal_2" required="">
    <label class="radio-style-1-label" for="id_type_deal_2">Doação</label>
    </div>
    </div>
    </div>
    </div>
    <div class="col_half col_last">
    <div class="col_full bottommargin-sm">
    <div class="col_last"><a class="pop-me-over" data-toggle="popover" data-placement="top" data-content="Escolha o tipo de resíduo." data-title="Categoria" data-original-title="" title=""><i class="i-circled i-light i-small icon-info" title="Escolha o tipo de resíduo."></i></a></div><label>Categoria</label>
    <div class="col_full bottommargin-sm">
    <select name="tipo_residuo" class="form-control" id="id_tipo_residuo">
    <option value="2">Borracha</option>
    <option value="3">Classe I (Perigosos)</option>
    <option value="10">Construção e Demolição</option>
    <option value="19">Covid-19</option>
    <option value="4">Eletroeletrônicos</option>
    <option value="5">Madeira</option>
    <option value="6">Metais</option>
    <option value="8">Orgânicos</option>
    <option value="14">Outros</option>
    <option value="9">Papel/Papelão</option>
    <option value="13">Plástico</option>
    <option value="16">Produtos de 2a linha</option>
    <option value="15">Químicos</option>
    <option value="17">Sucata Geral</option>
    <option value="11">Tecido</option>
    <option value="12">Vidro</option>
    </select>
    </div>
    </div>
    <div class="col_full nobottommargin-sm">
    <div class="col_last"><a class="pop-me-over" data-toggle="popover" data-placement="top" data-content="Digite, aperte enter para selecionar ou clique em criar" data-title="Resíduo" data-original-title="" title=""><i class="i-circled i-light i-small icon-info" title="Digite, aperte enter para selecionar ou clique em criar"></i></a></div><label>Resíduo</label>
    <div class="col_full bottommargin-sm">
    <select name="nome_residuo" data-placeholder="Digite o nome resíduo e aperte enter" data-minimum-input-length="2" required="" id="id_nome_residuo" data-autocomplete-light-language="pt-BR" data-autocomplete-light-url="/residuo/residuo-autocomplete/" data-autocomplete-light-function="select2" data-select2-id="id_nome_residuo" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
    <option value="" selected="" data-select2-id="1">---------</option>
    </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="2" style="width: 71.25px;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-id_nome_residuo-container"><span class="select2-selection__rendered" id="select2-id_nome_residuo-container" role="textbox" aria-readonly="true"><span class="select2-selection__placeholder">Digite o nome resíduo e aperte enter</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
    </div>
    </div>
    </div>
    <input type="hidden" value="new" name="new">
    <input name="email" value="tainamoreno7@gmail.com" id="id_hidden_email" type="email" style="position: absolute !important; left: -30000px !important; opacity: 0 !important;">
    <input name="empresa_id" value="69950" id="id_hidden_empresa_id" type="number" style="position: absolute !important; left: -30000px !important; opacity: 0 !important;">
    <div class="col_full nopadding">
    <div class="row nomargin">
    <span class="error_message"></span>
    <input class="button button-3d button-green nomargin" type="submit" value="Anúnciar">
    </div>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>