<div class = "box-container ">
    <div class="main-image">

        <div class="container" data-cy="mainImageContainer">
            <h1 class="animated fadeInUp">Milhares de <span class="highlighted">Geradores </span> estão com resíduos disponíveis para venda </h1>
            <span>
                <a href="/" class="btn btn-link transitions animated fadeIn " data-ga-category="Home" data-cy="postProjectCTA" title="Faça um lance">Faça um lance</a></span>
            <span>
                <a href="/" class="btn  transitions animated fadeIn" data-ga-category="Home" data-cy="workAsFreelancerCTA" title="Anuncie como Geradorr">Anuncie como Gerador</a></span>
        </div>
        <div class="img">
        <img src="assets/19199614.jpg" alt="">
        </div>
     </div>
    
     <section data-cy="howItWorksSection" class="js-ua-desktop how-it-works transparent visible animated fadeIn">
        
    
     <div id="como-funciona" class="container-comofunciona">

        <div class="h2" data-cy="howItWorksTitle">Como funciona?</div>
        <a href="https://www.workana.com/how-it-works?ref=from_home" data-cy="howItWorksLink" class="more">Conheça mais</a>

        <div class="row" data-cy="howItWorksSteps">
            <div class="col-sm-3">
                <h4 class="h3">Publicar</h4>
                <p class="h4">Conte-nos em poucas palavras qual resíduo você precisa. É grátis e sem compromisso!</p>
            </div>
            <div class="col-sm-3">
                <h4 class="h3">Selecionar</h4>
                <p class="h4">Receba propostas de geradores de resíduos. Escolha e mude o destino final deles.</p>
            </div>
            <div class="col-sm-3">
                <h4 class="h3">Fechamento</h4>
                <p class="h4">Você faz o parte do pagamento com referências do resíduos que receberá. :)</p>
            </div>
            <div class="col-sm-3">
                <h4 class="h3">Pagamento</h4>
                <p class="h4">Receba o resíduo e libere o restante do valor depositado do gerador.</p>
            </div>
        </div>

        <div class="call-to-action">
                <a href="/projects/add?ref=home_how_works&amp;from_home=1" class="btn btn-success transitions js-track-event js-track-create-project" role="button" title="Publique um projeto" data-cy="postProjectCTA" data-ga-category="Home" data-ga-action="how-it-works" data-ga-label="project-add">Publique um projeto</a>                <a href="/signup/w?ref=home_how_works" class="link-blue transitions js-track-event js-track-work-as-freelancer" role="button" title="Trabalhe como Freelancer" data-cy="workAsFreelancerCTA" data-ga-category="Home" data-ga-action="how-it-works" data-ga-label="worker-signup">Trabalhe como Freelancer</a>        </div>

    </div>
    </section>
    <app-footer></app-footer>
</div>