html{
    -webkit-tap-highlight-color: transparent;
}


.box-container {
    width:100%;
    position: relative;
    
}
.box-container::before {
    content:"";
    height: 0;
    float: left;
    padding-bottom:  50%;
    
}
.box-container::after {
    content:"";
    display:block;
    clear:both;
}

.main-image {
    color:#D8C031;
    background-color: white;
    display: flex;
    
}

.btn-link {
  background: #DBB334;
  border-radius: 20px;
  color: #B93727;
  

  }

.animated::after {
    content: "";
    display: table;
    box-sizing: border-box;
    
}

.animated::before{
    content: "";
    display: table;
    box-sizing: border-box;
}

img{
    width: 626px;
    height: 453px;
    
}
.img{
 
    justify-items:flex-end;
    width: 800px;
    height: 453px;
    
}

.container {
    align-items: end;
    margin-left: 129px;
    position: relative;
    width: 600px;
    height: 200px;
    text-align: justify;    
}
.container::after {
    content: " ";
    display: table;
    box-sizing: border-box;
}
.container::before {
    content: " ";
    display: table;
    box-sizing: border-box;
}


 h1 {

    font-size: 48px;
    font-family: Inter,sans-serif;
    line-height: 1.3;
    font-weight: 600;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.main-image .highlighted {
    margin-top: 70px;
    color: #B93727;
    
}

/*campo como funciona */

.how-it-works {
    padding-bottom: 60px;
    background-color: #B93727;
    
}

.how-it-works .container {
    position: relative;
}

.fadeIn {
   animation-name: fadeIn;
}
.animated {
    animation-fill-mode: both;

}

.container-comofunciona {
    margin-right: auto;
    margin-left:129px;
    padding-left: 15px;
    padding-right: 15px;
}
.container-comofunciona::before {
    content: " ";
    display: table;
    box-sizing: border-box;
}
.col-sm-3{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}


.h2 {
    margin: 40px 0;
    font-weight: 600;
    font-family: Inter, sans-serif;
    line-height: 1.3;
    font-size: 30px;
}

.how-it-works a.more {
    position: absolute;
    top: 55px;
    right: 20px;
}
a.more{
    color: white;
}
div {
    display: block;
}
a:-webkit-any-link {
    cursor: pointer;
}


